/deps
/tts
/blueprints
**/city_3*
.uuid
home-assistant.log*
home-assistant_v2.db*
secrets.yaml
mqtt_passwd
known_devices.yaml
set_env
.HA_VERSION
__pycache__
.google_maps*
cookies.txt
entity_registry.yaml
zigbee.db-*
/.storage
/python_scripts
/www
/custom_components
/themes
/neighbours
